body {
  margin: 0;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bG9naW58ZW58MHx8MHx8fDA%3D");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(236, 238, 238, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: black;
}

.form {
  text-align: center;
}

.input-box {
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

input {
  display: block;
  margin: 5px auto; /* Center input horizontally */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px);
  max-width: 300px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
  border-color: hsl(0, 12%, 89%);
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #3e8e41;
}

.link {
  display: block; /* Ensure the link is displayed as a block element */
  color: black;
  text-decoration: none;
  margin: 5px auto 0; /* Adjust margins to place the link below the button */
}

.link:hover {
  text-decoration: underline;
}
